<!DOCTYPE html>

<head>
    <title>ecommerce site</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <% include ../partials/navbar %>
        <h1> this is a layout page</h1>

        <%- body -%>
            <% include ../partials/navbar %>
</body>

</html>
